﻿@using ContosoUniversity.AuthServer.Models
@model ContosoUniversity.AuthServer.Models.ScopeViewModel

<li class="list-group-item">
    <label>
        <input type="checkbox"
               name="ScopesConsented"
               id="scopes_@Model.Name"
               value="@Model.Name"
               checked="@Model.Checked"
               disabled="@Model.Required" />
        @if (Model.Required)
        {
            <input type="hidden"
                   name="ScopesConsented"
                   value="@Model.Name" />
        }
        <strong>@Model.DisplayName</strong>
    </label>
    @if (Model.Required)
    {
        <span><em>(required)</em></span>
    }
    @if (Model.Description != null)
    {
        <label for="scopes_@Model.Name">@Model.Description</label>
    }
</li>
